// COLORS
$color-primary-dark: #11998e;
$color-primary-light: #38ef7d;
  
$color-white: #FFF;
$color-white-dark-1: #F9F5F3;
$color-white-dark-2: #F2EFEE;
$color-white-dark-3: #DAD0CC;
  
$color-orange-light: #F59A83;
$color-green-light: #0C9;
  
$color-brown-light: #655A56;
$color-brown-dark: #968B87;

$color-orange-gradient-light: #FBDB89;
$color-orange-gradient-dark: #F48982;



// FONTS
// $default-font-size: 1.6rem;